<div>
    <table style="font-family:'Times New Roman'" align="left" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td style="font-family:arial,sans-serif;margin:0px" width="207">
                    <p style="margin:0cm 0cm 0.0001pt;font-size:12pt;font-family:'Times New Roman',serif">
                        <span style="color:rgb(31,73,125);font-family:Tahoma,sans-serif;font-size:11px">Atenciosamente,</span>
                    </p>
                    <p style="margin:0cm 0cm 0.0001pt;font-size:12pt;font-family:'Times New Roman',serif">
                        <b style="font-size:12pt">
                            <span style="font-size:11pt;font-family:Tahoma,sans-serif;color:rgb(31,73,125)">Rafael Castro</span>
                        </b>
                        <br>
                    </p>
                    <p style="margin:0cm 0cm 0.0001pt;font-size:12pt;font-family:'Times New Roman',serif">
                        <b>
                            <span style="font-size:8pt;font-family:Tahoma,sans-serif;color:rgb(31,73,125)">Fone:</span>
                        </b>
                        <span style="font-size:8pt;font-family:Tahoma,sans-serif;color:rgb(31,73,125)">&nbsp;+55 (48) 99863-3078</span>
                    </p>
                    <p style="margin:0cm 0cm 0.0001pt;font-size:12pt;font-family:'Times New Roman',serif">
                        <span style="font-size:10pt;font-family:Calibri,sans-serif;color:rgb(31,73,125)">&nbsp;</span>
                    </p>
                    <p style="margin:0cm 0cm 0.0001pt;font-size:12pt;font-family:'Times New Roman',serif">
                        <a href="mailto:rafael.castro@seventh.com.br" style="font-family:Tahoma,sans-serif;font-size:11px;color:rgb(31,73,125);text-decoration:none"
                            target="_blank">rafael.castro@seventh.com.br</a>
                        <br>
                    </p>
                    <p style="margin:0cm 0cm 0.0001pt;font-size:12pt;font-family:'Times New Roman',serif">
                        <b>
                            <span style="font-size:8pt;font-family:Tahoma,sans-serif;color:rgb(31,73,125);letter-spacing:0.2pt">
                                <a href="http://www.seventh.com.br/" style="color:rgb(31,73,125);text-decoration:none" target="_blank">www.seventh.com.br</a>
                            </span>
                        </b>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div style="color:rgb(34,34,34);font-family:arial,sans-serif;font-size:13px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px">
    <img src="http://www.seventh.com.br/wp-content/uploads/2018/06/Sign.png">
</div>
